<h2 class="ui center aligned header">Welcome to Message Application</h2>
<h2 class="ui center aligned icon medium header">
  <i class="circular power blue icon"></i>
  Login to continue
</h2>

<%= render "form" %>
